#portfolio {
    padding: 6rem 0 4rem 0;
}

#portfolio > h2 {
    font-size: 2rem;
    margin: 0.2rem 0 0.5rem 0;
}

#portfolio > h5 {
    font-size: 1rem;
    margin: 0;
}

/* Title/Heading */

.more-projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
}

.more-projects-section {
    color: var(--color-light);
    font-size: 1rem;
}

.more-projects-section:hover {
    color: var(--color-white);
}

.more-projects-text {
    margin-left: 0.3rem;
}

/* Projects Section */

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-container {
    display: flex;
    align-items: center;
}

.projects-container:nth-child(odd) {
    align-self: flex-start;
}

.projects-container:nth-child(even) {
    align-self: flex-end;
}

.project-img {
    background: var(--color-primary);
}

.img-left {
    padding: 4rem 12rem 4rem 0;
}

.img-right {
    padding: 4rem 0 4rem 12rem;
}

.main-left {
    margin-left: -2rem;
}

.main-right {
    margin-right: -6rem;
    z-index: 1;
}