.about-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#about {
    padding: 8rem 0 20rem 0
}

#about > h2 {
    font-size: 2rem;
    margin-top: 0.2rem;
}

#about > h5 {
    font-size: 1.2rem;
    margin: 0;
}

.about-container > p {
    margin: 0;
    color: var(--color-light);
}

.about-me {
    display: flex;
    align-items: center;
    height: 28rem;
    aspect-ratio: 5/7;
    border-radius: 2rem;
    background: var(--color-primary)
}

.about-img {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    height: 100%;
}

.about-img:hover {
    transform: rotate(0);
}

.about-img > img {
    height: 100%;
}

.tech-languages-div {
    grid-column: 1 / span 2;
}

.contact-button-div {
    grid-column: 1 / span 2;
}

/* Media Queries (Tablets) */

@media screen and (max-width: 1024px) {
    #about {
        padding: 2rem 0 0 0;
    }

    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about-content > p {
        margin: 1rem 0 1.5rem;
    }
}

/* Media Queries (Phones) */

@media screen and (max-width: 550px) {
    #about {
        padding: 2rem 0 0 0;
    }
    
    .about-me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about-content {
        text-align: center;
    }

    .about-content > p {
        margin: 1.5rem 0;
    }
}