header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

.container > h5, .container > h1 {
    margin: 0;
}

.container > h5 {
    font-size: 1rem;
}

.big-img {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}

.big-img > img {
    border-radius: 1rem;
}

/* Media Queries (Tablets) */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* Media Queries (Phones) */

@media screen and (max-width: 550px) {
    header {
        height: 100vh;
    }
}