header {
    height: 80vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

.container > h5, .container > h1 {
    margin: 0;
}

.container > h5 {
    font-size: 1rem;
}

/* Img Effect */

.img-container {
    display: grid;
    place-items: center;
    margin: 2rem;
}

.img-group, .img {
    aspect-ratio: 5/7;
}

.img-group, .big-img {
    width: 26rem;
}

.img {
    aspect-ratio: 5/7;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
}

.big-img {
    width: 26rem;
    border-radius: 1rem;
}

/* .big-img > img {
    border-radius: 1rem;
    width: 100%;
} */

.small-img {
    width: 10rem;
    border-radius: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-img:nth-child(1) {
    transform: translateX(-10%) rotate(-1deg);
}

.big-img:nth-child(2) {
    transform: rotate(2deg);
}

.big-img:nth-child(3) {
    transform: translateX(-6%) rotate(-3deg);
}

.big-img:nth-child(4) {
    transform: translate(10%, 3%) rotate(5deg);
}

/* Effect ends here */

/* Media Queries (Phones) */

@media screen and (max-width: 550px) {
    header {
        height: 100vh;
    }

    .img-container {
        margin: 2rem 0 0 0;
    }

    .img-group {
        width: 100%;
    }

    .big-img:nth-child(1) {
        width: 100%;
        position: relative;
        transform: translateX(0);
    }

    .big-img:nth-child(2), 
    .big-img:nth-child(3), 
    .big-img:nth-child(4) {
        display: none;
    }

    .small-img {
        display: none;
    }
}