header {
    height: 80vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

.container > h5, .container > h1 {
    margin: 0;
}

.container > h5 {
    font-size: 1rem;
}

.big-img {
    width: 26rem;
    aspect-ratio: 5/7;
    margin-top: 2rem;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    background-color: rgba(255, 255, 255, 0.1);
}

/* .big-img > img {
    border-radius: 1rem;
    width: 100%;
} */

.small-img {
    width: 10rem;
    aspect-ratio: 5/7;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Media Queries (Phones) */

@media screen and (max-width: 550px) {
    header {
        height: 100vh;
    }

    .big-img {
        width: 23rem;
    }
}